name: Build APK

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout repo
        uses: actions/checkout@v3

      # Step 2: Set up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      # Step 3: Make Gradle Wrapper executable
      - name: Make Gradle Wrapper executable
        run: chmod +x ./gradlew

      # Step 4: Build the release APK
      - name: Build Release APK
        run: ./gradlew assembleRelease

      # Step 4b: Verify APK exists
      - name: List generated APKs
        run: ls -R */build/outputs/apk/release/

      # Step 5: Upload the APK as an artifact
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: m3u8_Streamer
          path: '**/build/outputs/apk/release/*.apk'
          
